/* document */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

body {
	margin: 0;
}



/* header */
#headerContainer {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #5B6065),
		color-stop(0.75, #1D232A)
	);
	background-image: -o-linear-gradient(bottom, #5B6065 0%, #1D232A 75%);
	background-image: -moz-linear-gradient(bottom, #5B6065 0%, #1D232A 75%);
	background-image: -webkit-linear-gradient(bottom, #1D232A 0%, #5B6065 75%);
	background-image: -ms-linear-gradient(bottom, #5B6065 0%, #1D232A 75%);
	background-image: linear-gradient(to bottom, #5B6065 0%, #1D232A 75%);
	padding: 0 20px;
	width: 100%;
	min-width: 1100px;
	margin: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#header {
	font-family: 'Arial', sans-serif;
	height: 60px;
	width: 1100px;
	margin: auto;
}

#header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header a, #header li {
	color: #858788;
}

#header a {
	display: block;
	cursor: pointer;
	text-decoration: none;
	height: 100%;
}

#header a:hover {
	color: white;
}



/* nav */
#headerNav {
	display: inline-block;
	float: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#headerLogo {
	display: inline-block;
	background: url('images/logo.png') no-repeat center center;
	width: 70px;
	height: inherit;
	margin: 0 10px 0 10px;
}



/* menu */
.menu {
	font-size: 14px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu .menu-item {
    padding: 0 5px;
    height: 100%;
}

#header .menu .menu-item > a, #headerAccount .menu-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center; -moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 100%;
	text-shadow: 0px 1px 2px black;
}




/* submenu */
.sub-menu {
	visibility: hidden;
	position: absolute;
	background: #15191e;
	font-weight: bold;
	font-size: 13px;
	background-color: #1f252c;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#1f252c));
	background: -webkit-linear-gradient(top, #1f252c, #000000);
	background: -moz-linear-gradient(top, #1f252c, #000000);
	background: -ms-linear-gradient(top, #1f252c, #000000);
	background: -o-linear-gradient(top, #1f252c, #000000);
	box-shadow: 0px 0px 5px black;
	-webkit-box-shadow: 0px 0px 5px black;
}

#header .sub-menu {
	margin-left: -10px;
	width: 170px;
}

.sub-menu .menu-item {
	display: block;
	margin: 2px 0;
	padding: 0;
}

.sub-menu .menu-item:hover {
	background-color: #383e44;
}

.sub-menu .menu-item a {
	padding: 5px 10px;
}

.menu-item:hover > .sub-menu,
.sub-menu:hover {
   visibility: visible;
}



/* header account */
#headerAccount {
	float: right;
}

#headerAccount .menu-item {
	padding: 0 3px;
}

#username {
	font-weight: bold;
}
